$text_color: #000;
$header_bg: #11aaf3;
$menu_color: #11aaf340;
$menu_active_color: #11aaf380;
$button_bg: #1e5f7e;
$button_text_color: #fff;
$income_color: #73eb73;
$outcome_color: #ff426e;
$border_color: rgba(35, 35, 35, 0.5);